* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

*:before,
*:after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

body {
  background: #eee;
  font-family: Gotham SSm A, Gotham SSm B, HelveticaNeue, Helvetica Neue, Helvetica, Arial, Lucida Grande, sans-serif;
}


/* Mis clases */

.container {
  height: 100vh;
  max-width: 600px;
  min-width: 450px;
  margin: auto;
  padding: 20px;
  background-color: pink;
  height: 100vh;
}

.container:before,
.container:after {
  content: " ";
  display: table;
}

.background-brand {
  background-color: purple;
  background: linear-gradient(#76278f, #ff00bf)
}

.content-img img {
  max-width: 68%;
}