* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

*:before,
*:after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

body {
  background: #eee;
  font-family: 'Roboto', sans-serif;
}


/* Mis clases */

.container {
  max-width: 450px;
  min-width: 450px;
  margin: auto;
  background-color: #fff;
  height: 100vh;
  padding: 20px;
}

.container:before,
.container:after {
  content: " ";
  display: table;
}

.background-brand {
  background: linear-gradient(#76278f, #ff00bf)
}

.content-img img {
  max-width: 68%;
}

.background-signup {
  background-image: url(../assets/images/background-2.jpg);
  background-repeat: no-repeat;
  /* background-size: 100vh; */
  background-size: 100% 100%;
  background-position: center;
}

.center {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 87vh;
}

.center-x {
  display: flex;
  justify-content: center;
  flex-direction: row;
}

.text-uppercase {
  text-transform: uppercase;
}

.text-center {
  text-align: center;
}

.button {
  cursor: pointer;
  padding: 9px 26px;
  text-decoration: none;
  font-weight: 600;
  display: inline-block;
  margin-right: 5px;
  line-height: 1.5;
  border-radius: 3px;
  margin-top: 30px;
  box-shadow: 1px 1px 6px grey;
  border-style: none;
  outline: none;
}

button {
  width: 100%;
}

.icon.back-arrow {
  width: 25px;
  border-radius: 100px;
  border: 1px solid black;
  padding: 4px;
}

.content-icon {
  width: 33%;
  display: inline-block;
}

.title {
  width: 60%;
}

.flex {
  display: flex;
}

.content-text {
  margin: 15px 0;
  border-bottom: 1px solid #bcbcbc;
  padding: 11px 0;
}

.border {
  border: 1px solid #000;
  padding: 10px 20px;
}

input {
  border: none;
  outline: none;
  width: 100%;
}

.input-disable {
  border-bottom: 1.5px solid #bcbcbc;
}

.input-active {
  border-bottom: 1.5px solid #3dc73d;
}

.btn-active-grad {
  color: #fff;
  background: linear-gradient(#76278f, #ff00bf);
}

.select-flag {
  margin-bottom: 15px;
}

.select-flag>div:first-child {
  width: 30%;
}

.select-flag>div:nth-child(2) {
  width: 70%;
}

.btn-white {
  color: #fff;
  border: 1px solid #fff;
}

.btn-block {
  display: block;
}

.color-white {
  color: #fff;
}

.btn-disabled {
  background-color: #d6d4d4;
  color: gray;
  cursor: unset;
}

.btn-active {
  background-color: #ff00bf;
  color: #fff;
}

.vh-100 {
  height: 100vh;
}

.code {
  border-bottom: 3px dashed purple;
}

.text-code {
  margin: 19px 0;
}

.position-bottom {
  bottom: 50px;
  position: absolute;
  width: 81%;
}

.pos-relative {
  position: relative;
}

.btn-small {
  padding: 8px 20px;
  font-size: 14px;
  cursor: pointer;
  color: #494545;
}

input.code {
  width: 35px;
  font-size: 15px;
  letter-spacing: 3px;
}


.form {
  padding: 20px;
}

form#sign-up input {
  padding: 0px 10px;
}

div > label {
  border: 1px solid #cbc9c9;
  padding: 8px;
  border-radius: 5px 0 0 5px;
}

.form div {
  margin: 15px 0;
}

.two-input, .one-input {
  display: flex;
}

.two-input input:nth-child(2) {
  border-top: 1px solid #cbc9c9;
  border-right: 1px solid #ebeaea;
  border-bottom: 1px solid #cbc9c9;
}

.one-input input, .two-input input:nth-child(3) {
  border-radius: 0 5px 5px 0;
  border-top: 1px solid #cbc9c9;
  border-right: 1px solid #cbc9c9;
  border-bottom: 1px solid #cbc9c9;
}

.one-input input {
  border-right: 1px solid #cbc9c9;
}

.checkbox input{
  width: inherit;
  margin-right: 13px;
}

span.blue {
  color: #5d95c5;
  font-weight: 600;
}

.correct-data {
  border-bottom: 1px solid #3dc73d !important; 
}