<!-- Preloader Start -->
<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <!-- <link rel="stylesheet" href="../css/preloading.css"> -->
  <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">
  <link rel="stylesheet" href="../css/main.css">
</head>

<body>
  <div class="loader-wrap">
    <div class="container background-brand">
      <div class="loader-brand">
        <div class="loader">
          <div class="loader-logo">
            <figure class="content-img">
              <img src="../assets/images/lyft-logo-white.png" alt="">
            </figure>
            <figure class="content-check">
              <img src="../assets/icon/icon-check-white.png" alt="" class="icon-check">
            </figure>
            <a href="../index.html#main" class="text-white">Volver</a>
          </div>
        </div>
      </div>
    </div>
  </div>
  <script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
  <script type="text/javascript" src="../js/app.js"></script>
</body>

</html>