<!-- Preloader Start -->
<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <link rel="stylesheet" href="../css/preloading.css">
  <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">
  <link rel="stylesheet" href="../css/main.css">
</head>

<body>
  <main>
    <section>
      <div class="container pos-relative">
        <div class="flex">
          <figure class="content-icon">
            <a href="signup.html">
              <img src="../assets/icon/back-arrow.png" alt="" class="icon back-arrow">
            </a>
          </figure>
          <h3 class="title">Verify phone number</h3>
        </div>
        <div class="text-center">
          <p class="text-center content-text">Join now for free ride credit</p>
        </div>
        <form action="" class="form " id="verify-number">
          <div class="text-center">
            <span>
              <strong>LAB-</strong>
            </span>
            <input type="text" class="code" value="" id="code" maxlength="3">
            <p>Enter the code sent to
              <span>+52</span>
            </p>
            <a href="#" class="button btn-disabled text-center btn-small" id="resend-code">Resend code</a>
          </div>
          <button class="button btn-disabled btn-block text-center text-uppercase position-bottom" id="next" type="submit" disabled>Next</button>
        </form>
      </div>
    </section>
  </main>
  <script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
  <script type="text/javascript" src="../js/app.js"></script>
</body>

</html>