<!-- Preloader Start -->
<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <link rel="stylesheet" href="../css/preloading.css">
  <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">
  <link rel="stylesheet" href="../css/main.css">
</head>

<body>
  <main>
    <section>
      <div class="container">
        <form action="" class="form">
          <div class="flex">
            <figure class="content-icon">
              <a href="../index.html">
                <img src="../assets/icon/back-arrow.png" alt="" class="icon back-arrow">
              </a>
            </figure>
            <h3 class="title">Sign Up</h3>
          </div>
          <div class="content-text text-center">
            <span>Join now for free ride credit</span>
          </div>
          <div class="flex select-flag">
            <div class="border">
              <select name="" id="">
                <option value="">Mexico</option>
                <option value="">c
                  <img src="../assets/images/co.png" alt="">
                </option>
                <option value="">Perú</option>
                <option value="">EE.UU</option>
              </select>
            </div>
            <div class="border">
              <input type="text" id="input-phone" class="input-disable">
            </div>
          </div>
          <p class="text-center">We'll send a text to verify your phone</p>
          <a href="#" class="button btn-disabled btn-block text-center text-uppercase" id="next">Next</a>
        </form>
      </div>
    </section>
  </main>
  <script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
  <script type="text/javascript" src="../js/app.js"></script>
</body>

</html>